@tailwind base;

@tailwind components;

@tailwind utilities;

.scroll-dark {
    scrollbar-color: #718096 transparent;
}

.scroll-dark::-webkit-scrollbar {
    width: 12px;
}

.scroll-dark::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 2px;
}

.scroll-dark::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #718096;
}

.scroll-dark::-webkit-scrollbar-corner {
    background: transparent;
}

::selection {
    background: #a0aec0;
}

::-moz-selection {
    background: #4a5568;
}

.spin {
    @apply border-4;
    @apply border-transparent;
    @apply rounded-full;

    animation: spin 0.75s linear infinite;
    border-top-color: theme('colors.gray.700');
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.transition-ease {
    transition: all 0.25s ease;
}

.transform-shift-up {
    transform: translateY(-5px);
}
